body {
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    color: white;
}

h1 {
    font-family: Poppins;
    text-align: center;
    font-size: 80px;
    color: #ed6663;
}

h2 {
  font-family: Poppins;
  text-align: left;
  font-size: 25px;
  color: #ed6663;
}

#submitBtn {
    display: block;
    color: #1b262c;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    min-width: 100px;
    background-color: #ffa372;
    border: none;
    font-family: Poppins;
}

#changeColor {
  display: block;
  color: #1b262c;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  min-width: 100px;
  background-color: #ffa372;
  border: none;
  font-family: Poppins;
}

#nobutton {
    text-align: center;
    text-decoration: none;
    display: block;
    color: #1b262c;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    min-width: 100px;
    background-color: #ffa372;
    border: none;
    font-family: Poppins;
}

#submitBtn:hover {
    box-shadow: 1px 1px 10px #6c7b95;
}

#nobutton:hover {
  box-shadow: 1px 1px 10px #6c7b95;
}

.box {
  background-color: #FEF7E5;
  border-radius: 10px;
  max-width: 500px;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  vertical-align: middle;
  font-size: 25px;
  overflow: auto;
  font-family: Montserrat;
}

.moodBoard {
    background-color: #fcf7bb;
    max-width: 1200px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    vertical-align: middle;
    font-size: 25px;
    overflow: auto;
    font-family: Poppins;
  }

.envelope {
  height: 70px;
  max-width: 80px;
}

.target{
  color:rgba(33, 37, 41, 1);
}

/* #myname {
  text-align: right; 
  font-size: 20px;
  color:rgba(33, 37, 41, 1);
} */