{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br><br><br>
<h1>Are you sure?</h1>
<form action="{% url 'homepage:confirmation' %}" method="POST">
    {% csrf_token %}
    <div style="margin-left: 10px; margin-right: 10px;">
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                <h2>Your name:</h2>
                <input type="text" class="form-control" id="name" name="name" maxlength="100" readonly value="{{ name }}">
                <br>
                <h2>Your message:</h2>
                <input type="text" class="form-control" id="message" name="message" maxlength="100" readonly value="{{ message }}">
            </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-row">
            <input id="submitBtn" name="yes" type="submit" class="btn btn-primary" value="Yes">
        </div>
      </div>
      <div class="col">
        <div class="form-row">
            <a id="submitBtn" name="no" class="btn btn-primary" href="{% url 'homepage:index' %}" id="cancel">
              <input type="button" class="btn" value="No" style="text-decoration: none;"></a>   
        </div>
      </div>
    </div>
</div>
</form> 


{% endblock %}