{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br><br>
<h1>Hello. How are you today?</h1>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4" style="text-align: center;">
        <img class="envelope" src="{% static 'images/message.png' %}" alt="message">
      </div>
      <div class="col-sm-4">
    </div>
    </div>
</div>
<br>
<form method="POST">
    {% csrf_token %}
    <div style="margin-left: 10px; margin-right: 10px;">
    <div class="form-row">
        <div class="col-sm-1"></div>
        <div class="form-group col-sm-10">
            <h2>What is your name?</h2>
            <input type="text" class="form-control" id="name" name="name" maxlength="100" placeholder="Write your name here" required>
            <br>
            <h2>Mind to share?</h2>
            <input type="text" class="form-control" id="message" name="message" maxlength="100" placeholder="I'm feeling..." required>
        </div>
    </div>
    <div class="form-row">
            <input id="submitBtn" name="postmessage" type="submit" class="btn btn-primary" value="Post My Message">
    </div>
</form>
<br><br>
<div class="moodBoard">
<h1>Mood Board</h1>
<button onclick="change()" id="changeColor" class="btn btn-primary">Change Font Color</button>
<br>
{% for message in message %}
    <div class="box">
    <p class="target" style="text-align: left;"> "{{ message.message }}" </p>
    <p class="target" style="text-align: right; font-size: 20px;">From: {{ message.name }}</p>
    </div>
    <br>
{% endfor %}
</div>
<br><br>
{% endblock %}
